<div class="d-flex flex-column justify-content-around height-500">
  <div>
    <h2>{{title}}</h2>
    <input type="search" [(ngModel)]="searchText" placeholder="Search text">
    <button (click)="addSearchResults()">Search</button>
  </div>
  <div>
    <div *ngIf="isSearchMade">
      <h3>Search Friends</h3>
      <ul class="list position-relative" *ngFor="let friend of searchedFriendsArray | filter: searchText; let i = index">
        <li>{{friend.userName}}<button (click)="addFriend()" class="btn position-absolute">Add Friend</button></li>
      </ul>
    </div>
    <div>
      <h3>My Friends</h3>
      <ul class="list position-relative" *ngFor="let friend of friendsArray">
        <li>{{friend.userName}}<button (click)="removeFriend()" class="btn position-absolute">Remove Friend</button></li>
      </ul>
    </div>
    <div  class="alert alert-danger" *ngIf="!isLoggedIn">Please, log in first!</div>
  </div>
</div>

